<h4>Name: {{name}}<br>Email: {{email}}</h4>

{{#if isEditing}}
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      {{input value=name id="name" class="form-control"}}
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      {{input value=email id="email" class="form-control"}}
    </div>
    <button class="btn btn-success" {{action 'save'}}>Save</button>
  </form>
{{else}}
  <p>{{body}}</p>

  <button class="btn btn-xs btn-danger" {{action 'edit'}}>Edit</button>
{{/if}}

{{outlet}}

<h3>Emails:</h3>

{{#each email in emails itemController="email"}}
  <hr>
  <p>
    To: {{email.to}}
    <br>
    Subject: {{email.subject}}
    <br>
    <button class="btn btn-xs btn-info" {{action 'details'}}>more</button>
    <button class="btn btn-xs btn-danger" {{action 'delete'}}>Delete</button>
  </p>
  {{#if email.isShowing}}
    {{email.email}}
  {{/if}}
  <hr>
{{/each}}

<p>{{#link-to 'new-email' this class="btn btn-xs btn-primary"}}New email{{/link-to}}</p>
